/* Buttons */
.btn {
  width: 90px;
}
.btn-large {
  width: 200px;
}
.btn-danger {
  color: white;
  border-color: #c1160c;
  background-color: #c1160c;
}

.btn-send {
  color: white;
  background-color: #0c0a0d;
  &:hover {
    color: white;
    background-color: rgba(51, 51, 51, 0.82);
  }
}

.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}

.noHeight{
  height: 0;
}

.OT_name {
  text-align: left;
}

.publisher{
  .OT_publisher {
    background-color: transparent;
    border-radius: 100% !important;
    video{
      width: 100% !important;
      left: 0 !important;
      height: 100% !important;
      border-radius: 100% !important;
    }
  }
}

.on-queue{
  .publisher{
    .OT_publisher {
      background-color: #000;
    }
  }
}

.publisher{
  .OT_widget-container {
    background-color: transparent;
  }

  .OT_video-disabled-indicator {
    display: none !important;
  }

  .OT_bar.OT_edge-bar-item.OT_mode-auto{
    border-radius: 100%;
  }
}

.black-overlay {
  input {
    color: black;
  }
}


.cw-actions{
  background-color: #363636;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  margin: 0 15px;
  width: 295px;

  .btn{
    width: auto;
    height: 40px;
    img{
      width: 20px;
    }
  }

  .btn-record{
    float: left;
    color: white;
    width: 40px;
    display: none;
  }

  .btn-record-stop{
    float: left;
    display: none;
    padding: 0;
  }

  .end-call{
    float: right;
    border-radius: 0;
  }

  .btn-chat{
    float: right;
    background-color: #363636;
    border-left: solid 1px #565656;
    border-radius: 0;
    width: 56px;
    padding: 0;

    &.pressed{
      background-color: #d8d8d8;
      border-left: solid 1px #d8d8d8;
    }

    img{
      width: 30px !important;
      margin-top: 4px;
    }
  }

  .red-square{
    margin: 12px;
    background: #d9534f;
    height: 16px;
    width: 16px;
    -webkit-animation: OT_pulse 1.3s ease-in;
  }
}
