/* Buttons */
.btn {
  width: 90px;
}
.btn-large {
  width: 200px;
}
.btn-danger {
  color: white;
  border-color: #c1160c;
  background-color: #c1160c;
}

.btn-send {
  color: white;
  background-color: #0c0a0d;
  &:hover {
    color: white;
    background-color: rgba(51, 51, 51, 0.82);
  }
}

.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}

.noHeight{
  height: 0;
}

.OT_name {
  text-align: left;
}

.publisher{
  .OT_publisher {
    background-color: transparent;
    border-radius: 100% !important;
    video{
      //width: 100% !important;
      left: 0 !important;
      //height: 100% !important;
      border-radius: 100% !important;
      top: 0 !important;
    }
  }
}

.on-queue{
  .publisher{
    .OT_publisher {
      background-color: #000;
      .OT_widget-container {
        background-color: black;
        border-radius: 100px;
        width: 100px !important;
        height: 100px !important;
        video{
          width: 100px !important;
          height: 100px !important;
        }
      }
    }
  }
}

.publisher{
  .OT_widget-container {
    background-color: black;
    border-radius: 50px;
    width: 50px !important;
    height: 50px !important;
    video{
      width: 50px !important;
      height: 50px !important;
    }
  }

  .OT_video-disabled-indicator {
    display: none !important;
  }

  .OT_bar.OT_edge-bar-item.OT_mode-auto{
    border-radius: 100%;
  }
}

.black-overlay {
  input {
    color: black;
  }
}


.cw-actions{
  background-color: #F0F0F0;// #363636;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  margin: 0 15px;
  width: 295px;

  .btn{
    width: auto;
    height: 40px;
    img{
      width: 20px;
    }
  }

  .btn-record{
    float: left;
    color: white;
    width: 40px;
    display: none;
    padding: 3px 6px;
    background: #d8d8d8;
    border-radius: 0;
    border-left: 1px solid #A4A6A8;
  }

  .btn-record-stop{
    float: left;
    display: none;
    padding: 0;
    background: #D9534F;
    border-radius: 0;
    border-left: 1px solid #A4A6A8;
  }

  .end-call{
    float: right;
    border-radius: 0;
  }

  .btn-chat{
    float: left;
    background-color: #A4A6A8; // #363636;
    border-left: solid 1px #7A7C7E; //solid 1px #565656;
    border-radius: 0;
    width: 56px;
    padding: 0;

    &.pressed{
      background-color: #d8d8d8;
      border-left: solid 1px #d8d8d8;
    }

    img{
      width: 30px !important;
      margin-top: 4px;
    }

    &[ios-counter]:after{
      content: attr(ios-counter);
      position: absolute;
      top: -10px;
      left: -14px;
      padding: 3px 9px;
      border: 2px solid white;
      border-radius: 100px;
      background: linear-gradient(top, #ff6969 0%, red 100%);
      background: -webkit-linear-gradient(top, #ff6969 0%, red 100%);
      background: -moz-linear-gradient(top, #ff6969 0%, red 100%);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 10px 0px rgba(255, 255, 255, 0.11) inset;
      background-clip: padding-box;
      font: bold 12px/18px "Helvetica Neue", sans-serif;
      color: white;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
      text-align: center;
      z-index: 1005;
    }
  }

  .red-square{
    margin: 12px;
    background: #d9534f;
    height: 16px;
    width: 16px;
    -webkit-animation: OT_pulse 1.3s ease-in;
  }

  .black-square{
    margin: 12px;
    background: #363636;
    height: 16px;
    width: 16px;
    -webkit-animation: OT_pulse 1.3s ease-in;
  }
}
