/* Buttons */
.btn {
  width: 90px;
}
.btn-large {
  width: 200px;
}
.btn-danger {
  color: white;
  border-color: #c1160c;
  background-color: #c1160c;
}

.btn-send {
  color: white;
  background-color: #0c0a0d;
}

.btn-send:hover {
  color: white;
  background-color: rgba(51, 51, 51, 0.82);
}

.OT_name {
  text-align: left;
}

.OT_publisher {
  border-radius: 100% !important;
}

.black-overlay input {
  color: black;
}
