<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Atlantic Bank</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="/scss/style.php/style.scss">
    {% block page_css %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}

  <script src="/bower_components/jquery/jquery.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/jquery-ui/ui/jquery.ui.core.js"></script>
  <script src="/bower_components/jquery-ui/ui/jquery.ui.widget.js"></script>
  <script src="/bower_components/jquery-ui/ui/jquery.ui.mouse.js"></script>
  <script src="/bower_components/jquery-ui/ui/jquery.ui.draggable.js"></script>

  <script src="/bower_components/bootstrap-sass/js/affix.js"></script>
  <script src="/bower_components/bootstrap-sass/js/alert.js"></script>
  <script src="/bower_components/bootstrap-sass/js/dropdown.js"></script>
  <script src="/bower_components/bootstrap-sass/js/tooltip.js"></script>
  <script src="/bower_components/bootstrap-sass/js/modal.js"></script>
  <script src="/bower_components/bootstrap-sass/js/transition.js"></script>
  <script src="/bower_components/bootstrap-sass/js/button.js"></script>
  <script src="/bower_components/bootstrap-sass/js/popover.js"></script>
  <script src="/bower_components/bootstrap-sass/js/carousel.js"></script>
  <script src="/bower_components/bootstrap-sass/js/scrollspy.js"></script>
  <script src="/bower_components/bootstrap-sass/js/collapse.js"></script>
  <script src="/bower_components/bootstrap-sass/js/tab.js"></script>
  <script src="/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="/bower_components/bootstrap-select/bootstrap-select.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js"></script>
  <script src="/js/vendor/setImmediate.js"></script>
  <script src="/js/vendor/eventemitter2.js"></script>
  <script src="/js/utils.js"></script>
  {% block page_js %}{% endblock %}
</body>
</html>
