{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/representative.css">
{% endblock %}

{% block page_js %}
<script src="/js/representative.js"></script>
{% endblock %}

{% block content %}

<div class="grey-container full-size">
  {% include "components/navbar.html" with { 'logout': true, 'rep': true } %}
  <div class="container rep-container">
    <div class="row">
      <div class="col-xs-3 left-column">
        <h1>Ian Small</h1>
        <div class="row">
          <div class="col-xs-12">
            <small>Email: ian@company.com</small>
          </div>
          <div class="col-xs-12">
            <small>Account No. X789 2246 4350</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 info-container">
              <h5 class="white-line">
                Schedule
                <img class="pull-right" src="images/black-arrow-up.png">
              </h5>
              <div class="collapse in" id="scheduleContainer">
                <h6 class="meetings-title">Upcoming meetings</h6>



                <h6 class="white-line"> </h6>

                <div class="row calendar">
                  <div class="col-xs-12">
                   {% include "components/date-picker.html" with { 'meetings': meetings, 'enablePicking': true, 'ignoreToday': true } %}
                  </div>
                </div>

              </div>
          </div>
        </div>

        <div class="row info-container previous-sessions">
          <div class="col-xs-12">
            <h5 class="white-line" data-ember-action="7">
              Previous Sessions
              <img class="pull-right" src="images/black-arrow-up.png">
            </h5>
          </div>
          <div class="collapse in" id="previousSessionContainer">
            <div class="col-xs-12 archives">
              <div class="row white-container archive">
                <div class="col-xs-3 archive-image">
                  <img src="images/play_button.png">
                </div>
                <div class="col-xs-9 archive-text">
                  <div>11/14/13</div>
                  <div>401k Update</div>
                  <div>22:19 min</div>
                </div>
              </div>
              <div class="row white-container archive">
                <div class="col-xs-3 archive-image">
                  <img src="images/play_button.png">
                </div>
                <div class="col-xs-9 archive-text">
                  <div>06/12/13</div>
                  <div>Portfolio Review</div>
                  <div>12:34 min</div>
                </div>
              </div>
              <div class="row white-container archive">
                <div class="col-xs-3 archive-image">
                  <div data-ember-action="10"><img src="images/play_button.png"></div>
                </div>
                <div class="col-xs-9 archive-text">
                  <div>03/21/13</div>
                  <div>Portfolio Updates</div>
                  <div>09:12 min</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-4 center-column">
        <div class="row">
          <div class="col-xs-11 col-xs-offset-1 white-container">
              <h3>Portfolio Review: 2013</h3>
              <div class="row">

              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="pull-left">
                    <small>1:20 - 2:20 PM PST</small>
                  </div>
                  <div class="pull-right">
                    <small>Call Time: 00:00</small>
                  </div>
                </div>
              </div>
              <div class="row portfolio-review-image">
                <div class="col-xs-12">
                  {% include "components/rep-chat-widget.html" %}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="grey-line portfolio-review-line"> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h5>Today's Agenda:</h5>
                </div>
                <div class="col-xs-12">

                <ul class="col-xs-12 agenda">
                    <li>Review portfolio performance in 2013</li>
                    <li>Evaluate distribution of funds</li>
                    <li>New investment opportunities</li>
                    <li>Set 2014 investment goals</li>
                    <li>Open questions and concerns</li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xs-5 right-column">

        <div class="row">
          <div class="col-xs-11 col-xs-offset-1 info-container">
              <div class="row">
                <div class="col-xs-12 account-overview-title">
                  <h5 class="white-line">
                    Account Overview
                    <img class="pull-right" src="images/black-arrow-up.png">
                  </h5>
                </div>
              </div>
              <div class="collapse in" id="accountOverviewContainer">
                <div class="row">
                    <div class="col-xs-2 account-overview-label">
                      <strong>Cash</strong>
                    </div>
                    <div class="col-xs-3 account-overview-cash">
                      $127,559.33
                    </div>
                      <div class="col-xs-3 account-overview-label">
                       <strong>Fixed</strong>
                      </div>
                      <div class="col-xs-4 text-right account-overview-cash">
                        $164,832.21
                      </div>
                </div>
                <div class="row">
                  <div class="col-xs-2 account-overview-label">
                    <strong>Equity</strong>
                  </div>
                  <div class="col-xs-3 account-overview-cash">
                    $141,112.96
                  </div>
                  <div class="col-xs-3 account-overview-label">
                    <strong>Retirement</strong>
                  </div>
                  <div class="col-xs-4 text-right account-overview-cash">
                    $198,451.43
                  </div>
                </div>
                <div class="row account-overview-tabs">
                  <div class="col-xs-12">
                    <ul class="nav nav-tabs text-center">
                      <li class="active tab-label-cash"><a href="#cash" data-toggle="tab">Cash</a></li>
                      <li class="tab-label-equity"><a href="#equity" data-toggle="tab">Equity</a></li>
                      <li class="tab-label-fixed"><a href="#fixed" data-toggle="tab">Fixed</a></li>
                      <li class="tab-label-retirement"><a href="#retirement" data-toggle="tab">Retirement</a></li>
                    </ul>
                    <div class="tab-content transactions">
                      <div class="tab-pane active" id="cash">
                        <div class="transaction-entry">
                          {% for trans in cash_transactions %}
                            {% include "components/rep-transaction.html" with { 'transaction': trans, 'index': loop.index } %}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="tab-pane" id="equity">
                        <div class="transaction-entry">
                        </div>
                      </div>
                      <div class="tab-pane" id="fixed">
                        <div class="transaction-entry"></div>
                      </div>
                      <div class="tab-pane" id="retirement">
                        <div class="transaction-entry">
                          <div class="row transaction-data">
                            <div class="col-xs-12">
                                <img src="/images/retirement_graph.png" width="100%">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-xs-11 col-xs-offset-1 rec-funds info-container">
            <h5 class="white-line">
              Recommended Funds
              <img class="pull-right" src="images/black-arrow-up.png">
            </h5>
            <div class="collapse in" id="recommendedFundsContainer">
              <div class="row">
                <div class="col-xs-12">
                  <small>The U.Fund College Investing Plan Performance</small>
                </div>
                  <div class="col-xs-12 funds-image">
                    <h2>
                      <img src="images/graph_1.png" width="100%">
                    </h2>
                  </div>
                  <div class="col-xs-12">
                    <h4 class="white-line"></h4>
                  </div>

                  <div class="col-xs-12">
                    <small>UNIQUE College Investing Plan Performance</small>
                  </div>

                  <div class="col-xs-12 funds-share-button">
                      <img class="pull-right" src="images/share_button.png">
                  </div>
                  <div class="col-xs-12 line-holder">
                    <h6 class="white-line"></h6>
                  </div>
                  <div class="col-xs-12 customer-viewing">
                    <h5>Customer Currently Viewing</h5>
                      <div class="row">
                        <div class="col-xs-5">
                          <img src="images/graph_1.png" data-bindattr-20="20" width="100%">
                        </div>
                        <div class="col-xs-4 customer-viewing-text">
                          The U.Fund College Investing Plan Performance - March 11,2015, 07:10pm PST
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% include "components/footer.html" %}

{% endblock %}
