{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/representative.css">
{% endblock %}

{% block page_js %}
<script src="/js/representative.js"></script>
{% endblock %}

{% block content %}

<div class="container" id="service-provider">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button type="button" class="btn btn-large btn-primary get-customer">Get Customer</button>
                    <button type="button" class="btn btn-danger end-call">End Call</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body video-holder">
                    <div class="subscriber" />
                    <div class="publisher" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <dl class="dl-horizontal customer-info">
                        <dt>You are talking to: </dt>
                        <dd class="customer-name"></dd>
                    </dl>
                    <div class="dl-horizontal text-chat">
                      <div class="history"></div>
                      <div class="new-message">
                        <input type="text" class="form-control message-text" name="new-message" placeholder="Send a text">
                        <input type="button" class="btn btn-send" name="send" value="Send">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service Request Modal -->
<div class="modal fade" id="service-provider-login-modal" tabindex="-1" role="dialog" aria-labelledby="service-provider-login-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="service-provider-login-modal-label">Representative Login</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="login-form">
                    <div class="form-group">
                        <label for="representative-name" class="control-label">Your Name:</label>
                        <input type="text" class="form-control representative-name" name="representative_name" required="required">
                    </div>
                </form>
                <div class="alert alert-warning access-info" role="alert">Please <strong>allow access to your camera and mic</strong> before logging in.</div>
                <div class="alert alert-success access-success" role="alert">Your camera and mic are accessible.</div>
                <div class="alert alert-danger access-error" role="alert">Your camera and mic were denied. Please revert the choice and retry.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary login-submit" disabled>Login</button>
            </div>
    </div>
</div>
{% endblock %}
