<div id="service-provider" class="rep">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body video-holder">
                    <div class="subscriber" ></div>
                    <div class="publisher" ></div>
                </div>
            </div>
        </div>
    </div>
    <div id="chat-opts" class="row" style="display: none;">
        <div class="col-md-12 cw-actions">
          <a class="btn btn-record" title="Start Recording"><img src="/images/recordpressed.png"/></a>
          <a data-toggle="collapse" href="#chat-collapse" aria-expanded="false" aria-controls="collapseExample" class="btn btn-chat"><img src="/images/icon_Chat.png"></img></a>
          <a class="btn btn-danger end-call">End Call</a>
        </div>
        <div class="col-md-12">
            <div id="chat-collapse" class="panel panel-default collapse">
                <div class="panel-body">
                    <div class="dl-horizontal text-chat">
                      <ul class="messages"></ul>
                    </div>
                    <div class="new-message">
                      <input type="text" class="form-control message-text" name="new-message" placeholder="Send a text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
